<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 반응형 웹(responsive web)으로 만들기 위해서 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>BOOQUE</title>
    
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
        /* 전체 폰트 설정 */
        * {
            font-family: NanumBarunGothic;
        }
        
        html, body {
            height: 100%;
        }
        
    </style>
        
</head>
<body class="bg-light">
         
        <div class="container" style="width: 50%">
        <!-- 블로그 게시물 관련 폼 -->
        <ul class="nav">
            <li class="nav-item my-10">
                <span></span> <!-- user 프로필사진넣기 -->
                <a class="nav-link" href="#">username</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">2022/12/02(fri)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">reply</a>
            </li>
        </ul>

        <h1 class="display-4">Post Title</h1>

        <div class="row">
            <img src="images/book6.jpg" style="width: 30rem" />

            <div class="card" style="width: 20rem; height: 10rem">
                <div class="card-header">귤의 맛</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>조남주</p>
                        <footer class="blockquote-footer"> 출판사:
                            열린책들 </footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <div>
            <hr style="width: 50rem;"/>
            
            <h3>어린 왕자</h3>
            
            <p style="width: 50rem;">전 세계가 사랑하는 가장 아름다운 이야기, 생텍쥐페리의 『어린 왕자』가 문학 평론가 황현산 선생의 번역으로
                    열린책들에서 출간되었다. 프랑스어 원문에 대한 섬세한 이해, 정확하고도 아름다운 문장력, 예리한
                    문학적 통찰을 고루 갖춘 번역으로 문학 번역에서 큰 입지를 굳혀 온 황현산 선생은 이 작품을 새롭게
                    번역하면서 생텍쥐페리의 진솔한 문체를 고스란히 살려 내기 위해 심혈을 기울였다. 원문 텍스트 선택부터
                    번역의 마무리 작업까지, 국내에 출간된 많은 『어린 왕자』 중에서도 특히 원전의 가치를 충실히 살린
                    한국어 결정판을 마련하고자 했다. 다른 별에서 온 어린 왕자의 순수한 시선으로 모순된 어른들의 세계를
                    비추는 이 소설은, 꾸밈없는 진솔한 문체와 동화처럼 단순해 보이는 이야기 속에 삶을 돌아보는 깊은
                    성찰을 아름다운 은유로 녹여 낸 작품이다. 『어린 왕자』를 다시 읽을 때마다 우리는 삶에서 가장
                    중요한 것들, 그러나 잊히거나 상실된 것들, 《눈에 보이지 않는》 것들을 돌아보는 자리로 돌아오게
                    된다. 어린 시절 읽었던 이 작품을 보다 새롭고 완성도 높은 번역으로 다시 한 번 음미하며 읽어 볼
                    때다.</p>
            <p style="width: 50rem;">전 세계가 사랑하는 가장 아름다운 이야기, 생텍쥐페리의 『어린 왕자』가 문학 평론가 황현산 선생의 번역으로
                    열린책들에서 출간되었다. 프랑스어 원문에 대한 섬세한 이해, 정확하고도 아름다운 문장력, 예리한
                    문학적 통찰을 고루 갖춘 번역으로 문학 번역에서 큰 입지를 굳혀 온 황현산 선생은 이 작품을 새롭게
                    번역하면서 생텍쥐페리의 진솔한 문체를 고스란히 살려 내기 위해 심혈을 기울였다. 원문 텍스트 선택부터
                    번역의 마무리 작업까지, 국내에 출간된 많은 『어린 왕자』 중에서도 특히 원전의 가치를 충실히 살린
                    한국어 결정판을 마련하고자 했다. 다른 별에서 온 어린 왕자의 순수한 시선으로 모순된 어른들의 세계를
                    비추는 이 소설은, 꾸밈없는 진솔한 문체와 동화처럼 단순해 보이는 이야기 속에 삶을 돌아보는 깊은
                    성찰을 아름다운 은유로 녹여 낸 작품이다. 『어린 왕자』를 다시 읽을 때마다 우리는 삶에서 가장
                    중요한 것들, 그러나 잊히거나 상실된 것들, 《눈에 보이지 않는》 것들을 돌아보는 자리로 돌아오게
                    된다. 어린 시절 읽었던 이 작품을 보다 새롭고 완성도 높은 번역으로 다시 한 번 음미하며 읽어 볼
                    때다.</p>
        </div>
                        
        <hr class="text-black-50" style="width: 50rem;"/>

        <!-- 댓글창 -->
        <div class="row">
            <strong>
                <span>0</span> Reply
            </strong>
            
            <div class="input-group my-3" style="width: 50rem;">
                <input type="text" class="form-control"
                    placeholder="로그인하고 댓글을 남겨보세요!"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary"
                    type="button" id="button-addon2">확인</button>
            </div>
        </div>

        <!-- 하단 전체 목록으로 가기 위한 -->
        <div>
            <span>
                Recent Posts
            </span>
            <span class="justify-content-end">
                See All
            </span>
        </div>
        
        <!-- 최신 게시들 이미지 + 제목 + 댓글 수 간단 정보 노출 -->
        <div>
            
        </div>
        
    </div> <!-- 블로그 메인 화면 end -->
    
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>
     
    <!-- Bootstrap이 사용하는 JavaScript 파일 포함 -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
        crossorigin="anonymous"></script>
</body>
</html>