<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
        
    <style>
        * {
            font-family: 'NanumBarunGothic';        
        }
    </style>
</head>
<body>

<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#staticBackdropSignin">로그인</button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdropSignin"
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        id="staticBackdropLabel"
                        style="font-weight: bold;">로그인</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="my-4">
                            <h6>아이디</h6>
                            <input type="text" id="signinUsername"
                                name="signinUsername"
                                class="form-control"
                                placeholder="로그인 아이디" required autofocus>
                        </div>
                        <div class="my-4">
                            <h6>비밀번호</h6>
                            <input type="Password" id="signinPassword"
                                name="signinPassword"
                                class="form-control"
                                placeholder="로그인 비밀번호" required />
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">취소</button>
                            <button type="button"
                                class="btn btn-primary">확인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#staticBackdropSignup">회원가입</button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdropSignup"
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        id="staticBackdropLabel"
                        style="font-weight: bold">회원가입</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="my-4">
                            <h6>아이디</h6>
                            <input type="text" id="username"
                                name="username" class="form-control"
                                placeholder="로그인 아이디" required autofocus>
                        </div>
                        <div class="my-2 d-none" id="ok">
                            <!-- d = display. 화면에 보여주지 않겠다. -->
                            <p class="text-success">사용할 수 있는 아이디</p>
                        </div>
                        <div class="my-2 d-none" id="nok">
                            <!-- d = display. 화면에 보여주지 않겠다. -->
                            <p class="text-danger">사용할 수 없는 아이디</p>
                        </div>
                        <div class="my-4">
                            <h6>비밀번호</h6>
                            <input type="password" id="password"
                                name="password" class="form-control"
                                placeholder="로그인 비밀번호" required />
                        </div>
                        <div class="my-4">
                            <h6>이메일</h6>
                            <input type="email" id="email" name="email"
                                class="form-control" placeholder="이메일"
                                required />
                        </div>
                        <div class="my-4">
                            <h6>닉네임</h6>
                            <input type="text" id="nickname"
                                name="nickname" class="form-control"
                                placeholder="닉네임" required />
                        </div>
                        <div class="my-4">
                            <h6>주소</h6>
                            <input type="text" id="adress" name="adress"
                                class="form-control" placeholder="닉네임"
                                required />
                        </div>
                        <div class="my-4">
                            <h6>핸드폰 인증</h6>
                            <!-- API 가능? -->
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">취소</button>
                            <button type="button"
                                class="btn btn-primary"
                                data-bs-target="#staticBackdropConfirm">확인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Test -->
    <a class="btn btn-primary" data-bs-toggle="modal"
        href="#exampleModalToggle" role="button">회원가입 2</a>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
        aria-labelledby="exampleModalToggleLabel" tabindex="-1"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        id="exampleModalToggleLabel"
                        style="font-weight: bold">회원가입</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="my-4">
                            <h6>아이디</h6>
                            <input type="text" id="signupUsername"
                                name="signupUsername" class="form-control"
                                placeholder="로그인 아이디" required autofocus>
                        </div>
                        <div class="my-2 d-none" id="ok">
                            <!-- d = display. 화면에 보여주지 않겠다. -->
                            <p class="text-success">사용할 수 있는 아이디</p>
                        </div>
                        <div class="my-2 d-none" id="nok">
                            <!-- d = display. 화면에 보여주지 않겠다. -->
                            <p class="text-danger">사용할 수 없는 아이디</p>
                        </div>
                        <div class="my-4">
                            <h6>비밀번호</h6>
                            <input type="password" id="signupPassword"
                                name="signupPassword" class="form-control"
                                placeholder="로그인 비밀번호" required />
                        </div>
                        <div class="my-4">
                            <h6>이메일</h6>
                            <input type="email" id="signupEmail" name="signupEmail"
                                class="form-control" placeholder="이메일"
                                required />
                        </div>
                        <div class="my-4">
                            <h6>닉네임</h6>
                            <input type="text" id="signupNickname"
                                name="signupNickname" class="form-control"
                                placeholder="닉네임" required />
                        </div>
                        <div class="my-4">
                            <h6>주소</h6>
                            <input type="text" id="signupAdress" name="signupAdress"
                                class="form-control" placeholder="주소"
                                required />
                            <!-- API 예정 -->
                        </div>
                        <div class="my-4">
                            <h6>핸드폰 인증</h6>
                            <!-- API 가능? -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">취소</button>
                    <button class="btn btn-primary"
                        data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
        aria-labelledby="exampleModalToggleLabel2" tabindex="-1"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        id="exampleModalToggleLabel2">회원가입 확인</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="checkSignupUsername"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">이전</button>
                    <button type="button" class="btn btn-primary">확인</button>
                </div>
            </div>
        </div>
    </div>


















    <!-- 도서 간단 정보 및 장바구니, 구매하기 버튼 블록 -->
    <div class="w-50 container">
        <div class="row my-5"> 
            <!-- 도서 이미지 -->
            <div class="col"> 
                <img th:src="${ book.bookImage }" style="width:450px; height:650px"/>
            </div>
            
            <!-- 도서 정보(+ 도서 정보 추가하기_있으면) -->
            <div class="col border-top border-bottom border-4 border-dark"> 
                <div class="row">
                    <div class="col-10 h2 my-4" th:text="${ book.bookName }">
                    </div>
                    <div class="col-2 my-2">
                    
                    <!--/* 찜하기는 나중에 */-->
                        <img src="#" style="width: 50px" />
                    </div>
                </div>
                
                <input type="hidden" id="id"  th:value="${ book.bookId }">
                <div th:text="${ book.author }"><span style="color: gray;"> 저자</span></div>
                <div th:text="${ book.publisher }"></div>
                <div>
                    ★ ★ ★ ★ <span th:text="${ score }"></span>
                </div>
                <div class="my-2"style="font-weight: bold;">
                    <span style="font-size: large;"  th:text="${ book.prices }"></span>
                    <span>원</span>
                </div>
                <div class="my-2"style="font-weight: bold;">
                    <span style="font-size: large;"  th:text="${ book.prices * 0.05 }"></span>
                    <span>포인트</span>
                </div>
                
                <div class="btn-group my-2 w-100" role="group" aria-label="Basic example">
                    <button type="button" class="w-50 btn btn-outline-dark">장바구니</button> <!-- 장바구니 페이지 이동 -->
                    <button type="button" class="w-50 btn btn-dark">공유하기</button> <!-- url 복사 등 -->
                </div>
                <button type="button" class="w-100 btn btn-danger">구매하기</button> <!-- 결제 페이지 이동 -->
            </div>
        </div>
    
    <!-- nav바 메뉴 바로가기(버튼 누르면 해당 부분으로 스크롤) -->
    <nav id="navbar-example2" class="navbar border-bottom px-3 mb-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#bookInfo">도서정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#bookReview">리뷰/한줄평</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#bookPayInfo">배송/반품/교환</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">구매하기</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#scrollspyHeading3">장바구니</a></li>
                        <li><a class="dropdown-item" href="#scrollspyHeading4">결제하기</a></li>
                    </ul>
            </li>
        </ul>
    </nav>
    
    <!-- 도서정보 부분 -->
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2"
        data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
        class="scrollspy-example p-3 rounded-2" tabindex="0">

        <div data-bs-spy="scroll" data-bs-target="#navbar-example2"
        data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
        class="scrollspy-example p-3 rounded-2" tabindex="0">
        <h4 id="bookInfo" th:text="${ book.bookName }"></h4>
        <p th:text="${ book.bookIntro }"></p>


        <div>
            <img loading="lazy" th:src="${ book.bookIntroImage }">
        </div>

        <!-- 리뷰 & 한줄평 부분 / 개인 블로그 페이지로 이동 -->
        <div class="row">
            <div id="bookReview" class="h4 col">리뷰</div>
            
            <!-- 최신순, 선호도 등 정렬 드롭다운 -->
            <div class="dropdown col">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;">정렬</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">최신순</a></li>
                    <li><a class="dropdown-item" href="#">선호도순</a></li>
                </ul>
            </div>
        </div>
        
        <!-- 리뷰(+ 긴글은 일부분만 볼 수 있도록 수정하기 -->
        
        <!--/* th:each를 통해서 불러오기   */-->
        <div  th:each="post : ${ postList }">
            <div class="my-2" th:text="${ post.user.name }" > </div>
            <div  th:text="${ post.myScore }"></div>
            <div th:text="${ post.title }"></div>
            <p class="border-bottom" th:text="${ post.postContent }"></p>
        </div>
        
        <div class="row">
            <div id="bookReview" class="h4 col">한줄평</div>
            
            <!-- 최신순, 선호도 등 정렬 드롭다운 -->
            <div class="dropdown col">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;">정렬</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">최신순</a></li>
                    <li><a class="dropdown-item" href="#">선호도순</a></li>
                </ul>
            </div>
        </div>
        
        <!-- 한줄평 보기 --> 

        <button ></button>
        <img alt="" th:src="@{ https://cdn-icons-png.flaticon.com/512/7476/7476962.png }">
        <!-- 한줄평 AJax -->
        <div id="bookComment"></div>
        
        <!-- 한줄평 작성하기 -->
        <div class="my-2 p-2 border">
            <div class="col-4">
                <input  class="form-control " id="commentWriter" type="number" placeholder="유저번호" />
            </div>
            <div class="row">
                <div class="col-10 my-2">
                    <input class="form-control" id="commentText" type="text" placeholder="로그인을 하고 한줄평을 남겨보세요!" aria-label="default input example" >
                </div>
                <div class="col-2 my-2">
                    <button type="button" class="btn btn-dark"  id="btnComment" style="float: right;">작성</button>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        <!-- 작가의 다른 책 -->
        <div>
            <span></span>
        </div>
        
        <!-- 배송/반품/교환 관련 정보 부분 -->
        <h4 id="bookPayInfo" class="border-bottom p-2">배송/반품/교환 안내</h4>
    
        <th:block th:replace="fragments/bookDetailFooter :: bookDetailFooter"></th:block>
    </div>
    
    </div> <!-- 전체 블록 사이즈때문에 묶어놓은 것 end -->





<!--/* layout으로 묶을 경우 <th:block layout:fragment="script">로 묶어주기 */-->

    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript"> //로그인 유저 정보 넣을 예정    </script>
    <script th:src="@{ /js/comment.js }"></script>   

    
    
    <script>
            //모달창 온오프 함수
            // role = 모달창 구분값
            const modalOpen = (role) => {

                if(role.getAttribute('data-role') === 'modal1'){ //모달창이 첫번째일때
                    let registerModalBg = document.getElementById('registerModalBg');


                    if(registerModalBg.classList.contains('on') === false) return registerModalBg.classList.add('on'); //첫번째 모달창이 꺼저있을때 키기
                    registerModalBg.classList.remove('on'); //첫번째 모달창이 이미 켜져있으면 끄기
                }else{ //모달창이 첫번째가 아닐때
                    let registerModalBg2 = document.getElementById('registerModalBg2');

                    registerModalBg2.classList.remove('on'); //두번째 모달창이 끄기

                }

                return false;
            }

            //회원가입 데이터 확인 및 첫번째 모달에서 두번째 모달로 데이터 옮기는 함수
            const modalConfirm = () => {
                let registerModalBg = document.getElementById('registerModalBg'); //첫번재 모달창
                let registerModalBg2 = document.getElementById('registerModalBg2'); //두번재 모달창
                let signupUsername = document.getElementById('signupUsername'); //첫번재 모달창 아이디값 적는 인풋
                let signupPassword = document.getElementById('signupPassword'); //첫번재 모달창 비번값 적는 인풋
                let signupEmail = document.getElementById('signupEmail'); //첫번재 모달창 이메일값 적는 인풋
                let signupNickname = document.getElementById('signupNickname'); //첫번재 모달창 닉네임값 적는 인풋
                let signupAdress = document.getElementById('signupAdress'); //첫번재 모달창 주소값 적는 인풋
                console.log('confirm');

                if(signupUsername.value === '' || signupUsername.value === ' ') return signupUsername.focus(); //아이디값 빈값인지 확인해서 빈값이면 포커싱
                if(signupPassword.value === '' || signupPassword.value === ' ') return signupPassword.focus(); //비밀번호값 빈값인지 확인해서 빈값이면 포커싱
                if(signupEmail.value === '' || signupEmail.value === ' ') return signupEmail.focus(); //이메일값 빈값인지 확인해서 빈값이면 포커싱
                if(signupNickname.value === '' || signupNickname.value === ' ') return signupNickname.focus(); //닉네임값 빈값인지 확인해서 빈값이면 포커싱
                if(signupAdress.value === '' || signupAdress.value === ' ') return signupAdress.focus(); //주소값 빈값인지 확인해서 빈값이면 포커싱

                document.getElementById('checkupUsername').value = signupUsername.value; //아이디값 두번째모달로 옮기기
                document.getElementById('checkupPassword').value = signupPassword.value; //비번값 두번째모달로 옮기기
                document.getElementById('checkupEmail').value = signupEmail.value; //이메일값 두번째모달로 옮기기
                document.getElementById('checkupNickname').value = signupNickname.value; //닉네임값 두번째모달로 옮기기
                document.getElementById('checkupAdress').value = signupAdress.value; //주소값 두번째모달로 옮기기

                registerModalBg.classList.remove('on'); //첫번째 모달 숨기기
                registerModalBg2.classList.add('on'); //두번째 모달 열기
                return false;
            }
        </script>
    

</body>
</html>