<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout2 }">
<div layout:fragment="content" align ="center">
<head>
<meta charset="UTF-8">
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous">
<!-- include libraries(jQuery, bootstrap) -->
<link
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- include summernote css/js -->
   <link
    href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
    rel="stylesheet">
   <script
    src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
 </head>

    
<!--/* layout/basic-layout.html 파일의 "content" 레이아웃 fragment를 채워 줄 내용 */-->

    <hr/>
    <div class="container" style="width:100%; padding-right:150px;" > <!-- container-fluid : START -->


    <div>
        <table style="border-color: white;" width= "100%">
            <tr>
              <td width="20%" style=" vertical-align: top; border: 1px solid #DCDCDC;"> 
               <div class="card" align="center" style="margin:20px;"><!-- 프로필  -->
                 <div>
                   <a href=""> 
                     <img src="/images/루피.png"  width="200" height="280" class="img-fluid rounded-start">
                   </a>
                 </div>
                 <br/>
                 <div style="  padding:10px; text-align: left;">
                   <p><strong>루피 (username)</strong></p>
                   <p>블로그 한 줄 소개</p>
                   <p></p>
                 </div>
               </div><!-- 프로필 끝 -->  
               <hr/>
              <div align="center"><a href="/post/list">글 전체 목록</a></div>
              <div style="font-size: 12px; margin: 5px;" align="center"> 오늘 3  Total 256</div>
              </td>
  
  
            <!-- 오른쪽 -->  
             <td width="80%">
            <div style="font-size:15px; font-weight:bold; background-color: #FFFFF0; border-top:2px solid black; border-bottom:2px solid black; margin-left:50px; margin-bottom:30px; height: 50px;" align="right"> 
              <br/> 포스트 상세 페이지&nbsp;&nbsp;
              </div>             
             
             
              
              <div class="card" style=" border: 1px solid #DCDCDC; padding-top:15px;  margin-left: 50px;"><!-- 전체 card -->
                <table>
                <tr>
                <td>  
                
               <div class="card" style="border-color:white; padding: 20px;"><!-- 도서카드(가로버전) START -->
                 <table width= "100%">
                  <tr>
                     <td width= "20%">
                       <a th:href="@{ /detail?id={bookId} (bookId = ${ book.bookId })}"><img th:src="${ book.bookImage }" width="150" height="180" class="img-fluid rounded-start"></a>
                     </td>
                     <td width="63%">
                       <table style="margin-left: 20px;">
                      
                      <tr>
                        <td th:text= "${ book.bookName }" style="font-size: 18px; font-weight: bold;"></td>
                      </tr>
                      <tr>
                        <td th:text="${ book.author }"></td>
                        <td th:text="${ book.publisher +'&nbsp;&nbsp;|&nbsp;&nbsp;' }"></td>
                        <td th:text="${ book.publishedDate }"></td>
                      </tr>
                     <tr>
                        <td th:text="${ book.prices +'원' }"style="font-size: 20px; font-weight: bold;"></td>
                        
                      </tr>
                       <tr><td>판매지수</td></tr>
                      <tr>
                        <td><span><a href="">회원리뷰</a></span> &nbsp;&nbsp;★★★★☆ (8.0)</td>
                      </tr>
                      <tr> 
                        <td>오늘 주문하면 내일 도착</td>
                      </tr>
                     
                    </table>
                    </td>
                    <td width= "17%">
                    <button style="margin-left: 30px; background-color:#DCDCDC;" class="btn">카트 담기</button>
                   </td>
                  </tr>
                  </table>
                  </div>
                <!-- 도서카드(가로버전) END -->
              
             
                  <tr>
                  <td>
                     <div class="card" style="border-color:white; margin-top: 10px; padding: 10px;" ><!-- 글 작성 폼 -->
                   <form style="border-top: 1px solid #DCDCDC;">
                     <div style="margin: 12px;">
                      <input type="hidden" id="bookId" name="bookId" th:value="${ book.bookId }" readonly>
                      <input type="hidden" id="postId" name="postId" th:value="${ post.postId }" readonly style="width: 10%;">
                      <input id="title"  th:value="${ post.title }" style="width: 63%; background-color: #F5F5F5;"
                            name="title" readonly />
                     <input style=" width:25%;" th:value="${ post.postWriter }" id="postWriter" name="postWriter" readonly />
                     </div>
                     <div  class="container form-control" style="width:100%; height:370px; border-color: white;">
                       <textarea class="summernote" id="postContent" th:text="${ post.postContent }" style="border-color: white; width:100%; height: 100%;"
                                        name="postContent" readonly></textarea>
                     </div>
                     <div style="margin: 10px;">
                     &nbsp;&nbsp;
                     <input id="modifiedTime"  style="width: 40%;"
                            th:value="${ #temporals.format(post.modifiedTime, 'yyyy-MM-dd HH:mm:ss') }" readonly />
                            
                  
                     <a class="btn" style="margin-left: 400px;" th:href="@{ /post/modify?postId={postId}&bookId={bookId} (postId = ${ post.postId }, bookId = ${ post.bookId })}">글 편집</a>
                  
                     </div>
                   </form>
                   </div>
            
           </td></tr> 
      </table>
        </div>
         <div class="mt-3"><!-- 댓글 시작 -->
        <!-- 댓글 리스트 -->
        <div id="replies"></div>
       
                    <!-- 댓글 작성폼 & 리스트 폼 -->
                    <section style="margin-left: 50px;" class="mb-3">
                        <div class="card" style="background-color:#F8F8FF; padding-left: 10px; padding-right: 10px;">
                            <div style="margin-left: 20px;" class="comment-count mt-3 publisher-nav-color">
                            <strong><span>0</span> Reply</strong>
                            </div>
                            <div class="card-body">

                                <!-- Comment form-->
                                     <!-- 프로필 정보 -->
                                     <div  style="margin-left: 4px;" class="profile">
                                       <!-- #########링크 수정하기######### -->
                                                <a href=#><img src="/images/프로필.jfif"
                                                       class="img-fluid rounded-start"
                                                         style="width: 30px; height: 30px;" alt=""></a>
                                                <input type="text" id="replyWriter" />
                                     </div>
                                <form>
                                    <textarea id="replyContent" class="form-control" rows="3" placeholder="로그인하고 댓글을 남겨보세요!"></textarea>
                                    <div align="right" style="padding-right: 10px;"> <button class="btn btn-outline-secondary" type="button" id="btnReplyRegister">확인</button></div>
                                </form>
                    
                            </div>
                        </div>
                    </section>
                    
    <!-- 댓글 수정 & 삭제 -->
    <div class="modal" id="postRepModal" tabindex="-1"
        aria-labelledby="replyModalLabel" aria-hidden="true">
        <div class="postRepModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">댓글 수정하기</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="modalReplyId" readonly/>
                        <input type="hidden" id="modalReplyWriter" readonly/>
                        <textarea id="modalReplyContent"
                            class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modalBtnUpdate"
                            class="btn btn-primary">수정</button>
                        <button type="button" id="modalBtnDelete"
                            class="btn btn-primary">삭제</button>
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">취소</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

                 </div><!-- 댓글 끝 -->
        
              </td><!-- 전체 카드 끝 -->
            </tr>
        </table>
    </div>
    </div> <!-- container-fluid : END -->
    <hr/>


    
<!-- summernote -->
  <script>
 $('.summernote').summernote({
    width:830,
      height: 300,
      lang: "ko-KR"
    }); </script>
    
    <!-- Ajax를 사용하기 위한 axios 자바스크립트 라이브러리 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 댓글 관련 자바스크립트 함수/코드들을 작성한 스크립트 파일 -->
    <script th:src="@{ /js/postReply.js }"></script>
    
  </div><!-- layout:fragment="content" : END -->

</html>