<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        ul {
            list-style: none;
        }
    </style>

</head>
    
    <!-- detailFooter 선언 -->
	<div th:fragment="detailFooter">
        
        <h6>배송 안내</h6>        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Booque 자체 배송</li>
            <li class="list-group-item">결제일 기준 2~3일 소요</li>
        </ul>
        
        <hr/>
        
        <h6>반품/교환방법</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">마이페이지 > 주문/배송내역 > 주문조회 > 반품/교환 신청, [1:1 상담 > 반품/교환/환불] 또는 고객센터 (1234-1234)</li>
        </ul>        
        
        <hr/>
        
        <h6>반품/교환가능 기간</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">변심반품의 경우 수령 후 7일 이내, 상품의 결함 및 계약내용과 다를 경우 문제점 발견 후 30일 이내</li>
        </ul> 
              
        <hr/>
              
        <h6>반품/교환 불가 사유</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">1) 소비자의 책임 있는 사유로 상품 등이 손실 또는 훼손된 경우(단지 확인을 위한 포장 훼손은 제외)</li>
            <li class="list-group-item">2) 소비자의 사용, 포장 개봉에 의해 상품 등의 가치가 현저히 감소한 경우<br/>
                예) 화장품, 식품, 가전제품(악세서리 포함) 등
            </li>
            <li class="list-group-item">3) 복제가 가능한 상품 등의 포장을 훼손한 경우<br/>
                예) 음반/DVD/비디오, 소프트웨어, 만화책, 잡지, 영상 화보집
            </li>
            <li class="list-group-item">4) 소비자의 요청에 따라 개별적으로 주문 제작되는 상품의 경우</li>
            <li class="list-group-item">5) 디지털 컨텐츠인 eBook, 오디오북 등을 1회 이상 다운로드를 받았을 경우</li>
            <li class="list-group-item">6) 시간의 경과에 의해 재판매가 곤란한 정도로 가치가 현저히 감소한 경우</li>
            <li class="list-group-item">7) 전자상거래 등에서의 소비자보호에 관한 법률이 정하는 소비자 청약철회 제한 내용에 해당되는 경우</li>
        </ul>
        
        <hr/>

    </div>

</html>