<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- stomp & socket -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
        crossorigin="anonymous">
        
<!-- w3 schools css library -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://kit.fontawesome.com/fbc5a433d8.js" crossorigin="anonymous"></script>
        
<style>

    * {
        font-family: 'NanumBarunGothic';
    }
    
    body {
        margin-top:10px;
        margin-left: 10px;
    }
    
    #chatListDiv {
        margin-right: 30px;
        margin-bottom: 50px;
        border: 2px solid lightgrey;
        height: 576px;
    }
    
    #chatList {
        overflow-y: scroll;
        height: 436px;
    }
    
    #chatList tr {
        border-bottom: 1px solid lightgrey;
    }
    
    #chatList tr:hover {
        background-color: seashell;
    }
    
    #chatList td {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #chatDetail {
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 50px;
        border: 2px solid lightgrey;
        height: 576px;
    }
    
    #chatDetail tr {
        border-bottom: 1px solid lightgrey;
    }
    
    .chat-history {
        padding: 30px 30px 20px 20px;
        overflow-y: scroll;
        height: 400px;
        border-bottom: 1px solid lightgrey;
    }
    
    #sendMessage {
        text-align:right;
        position:relative;
    }
    
    #btnSend {
        position:absolute;
        top:8px;
        right:18px;
        color:silver;
        border:none; 
        background-color:white;
    }
    
</style>
</head>

<body>

    <div class="w3-container">
            <div class="title_text" style="margin-bottom:20px;">
                <h2 style="color:hotpink;">Booque Chat</h2>
            </div>
            
            <!-- 채팅방 목록 블럭 -->
            <div class="w3-quarter" id="chatListDiv">
            
                <!-- 내 정보, 검색, 정렬 -->
                <div id="chatListHead" style="border-bottom: 2px solid lightgrey; height: 140px; padding: 10px;">
                    <!-- 내 프로필사진, 닉네임 -->
                    <input id="userId"  th:value="${ loginUser.id }">
                    <div th:data-url="@{ /market/mypage(userId=${ loginUser.id }) }" 
                        onclick="changeParentPage(this.getAttribute('data-url'))"
                        style="cursor:pointer;">
                        <img class="rounded-circle" width="40" height="40" th:src = "${ loginUser.userImage }" />
                        <span th:text="${ loginUser.nickName }"></span>
                    </div>
                    <!-- 채팅 검색(채팅상대 닉네임, 채팅 내용) -->
                    <div>
                        <input type="search" placeholder="채팅 검색" id="chatSearch" class="form_control" size="15"/>
                        <button id="btnchatSearch" class="w3-button w3-blue-grey w3-small">검색</button>
                    </div>
                    <!-- 전체 채팅방 보기 / 안읽은 채팅방만 보기 -->
                    <!-- 시간여유가 될 경우: 체크박스 클릭or해제할 때마다 밑에 채팅방 리스트 달라지도록 반영(찜버튼처럼) -->
                    <div>
                        <button id="showAllChats" class="w3-button w3-white w3-border w3-small w3-round-large">전체보기</button>
                        <button id="showUnreadChats" class="w3-button w3-white w3-border w3-small w3-round-large">안 읽은 채팅만 보기</button>
                    </div>
                </div>
                
                <!-- 채팅방 리스트  -->
                <div id="chatList">
                    <table>
                        <tbody id="chatListTbody">
                            <tr id="chatListTbody" class="btnChatRoom" th:each="chat : ${ data}" 
                            th:onclick="|location.href='@{/chat?chatRoomId={chatRoomId} (chatRoomId = ${ chat.chatRoomId})}'|"
                            style="cursor:pointer; background-color:none;">
                                <td style="padding-left:10px; width:20%;">
                                    <img class="rounded-circle" width="40" height="40" th:src = "${ chat.chatWithImage }" />
                                </td>
                                <td style="padding-left: 10px; padding-right:10px; width:80%;">
                                    <div th:text="${ chat.chatWithName }"></div>
                                    <div style="font-size:9px;" th:text="${ chat.modifiedTime }"></div>
                                    <span th:text="${ chat.lastMessage }"></span>
                                </td>
                                <td style="padding-right:10px; width:20%;">
                                     <img width="auto" height="50" th:src = "${ '/market/api/view/'+ chat.usedBookImage }" />
                                </td>
                            </tr>
                        </tbody>
                        <tbody id="newChatListTbody"></tbody>
                    </table>
                </div>
                
            </div> <!-- 채팅방 목록 블럭 End -->
            
            <!-- 채팅 상세 창 -->     <!-- 일단 지금은 가장 최신챗만 보이게 해 놓은 상태 -->
            <div class="w3-rest" id="chatDetail">
            
                    <!-- 채팅 상대 정보 -->  
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <td style="width:10%; padding:5px; padding-left:10px;">
                                    <img class="rounded-circle" width="50" height="50" th:src = "${ chatWith.chatWithImage }"
                                    th:data-url="@{ /market/mypage(userId=${ chatWith.chatWithId }) }" 
                                    onclick="changeParentPage(this.getAttribute('data-url'))"
                                    style="cursor:pointer;" />
                                </td>
                                <td>
                                    <span th:text="${ chatWith.chatWithName }" style="font-weight:bold;"></span><br/>
                                    <div style="color:mediumseagreen;">
                                        <i class="fa-solid fa-seedling"></i>
                                        <span th:text="${ chatWith.chatWithLevel }" style="color:mediumseagreen;"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <!-- 중고판매글 정보 -->
                    <table style="width:100%;">
                        <tbody>
                            <tr style="background-color:snow;">
                                <td style="width:10%; padding:5px; padding-left:10px;">
                                    <img width="auto" height="60" th:src = "${ '/market/api/view/'+ usedBook.usedBookImage }"
                                    th:data-url="@{ /market/detail?usedBookId={usedBookId} (usedBookId = ${ usedBook.usedBookId }) }" 
                                    onclick="changeParentPage(this.getAttribute('data-url'))"
                                    style="cursor:pointer;" />
                                </td>
                                <td>
                                    <div>
                                        <b>책 제목:  </b>
                                        <span th:text="${ usedBook.usedBookTitle }"></span>
                                    </div>
                                        <b>가격:  </b>
                                        <span th:text="${ usedBook.price }"></span> 원
                                </td>
                                <td style="text-align:right; padding-right:35px;">
                                     <span th:text="${ usedBook.status }" style="color:orange; font-weight:bold;"></span>
                                </td>
                            </tr>
                        </tbody>
                </table>
                        
            
                    <!-- 출력 창(chatHistory) -->
                    <div id="content" class="chat-history">
                        <div th:each="chat : ${chatHistory}">
                            <div th:style="${chat.sender != loginUser.nickName } ? 'display: block; float: left;' : 'display:none;'">
                                <img class="rounded-circle" width="40" height="40" th:src = "${ chatWith.chatWithImage }" style="margin-right:10px;">
                            </div>
                            <div
                                th:style="${chat.sender == loginUser.nickName } ? 'text-align: right;' : 'text-align: left;'">
                                <span id="chatMessage" th:text="${chat.message}"></span><br/>
                            </div>
                            <div th:style="${chat.sender == loginUser.nickName } ? 'text-align: right;' : 'text-align: left;'">
                                <span style="font-size:13px; color:grey;" id="chatSendTime" th:text="${chat.sendTime}"></span><br/><br/>
                            </div>   
                        </div>
                    </div>
                    <!-- 메시지 입력 창 -->
                        <div class="input_group" id="sendMessage">
                                <input type="text" id="message" class="w3-input" />
                                <button id="btnSend" disabled>
                                    <i class="w3-xlarge fa fa-send"></i>
                                </button>
                                <!--
                                구매자(로그인유저):  <input type="text" th:value="${chatInfo.buyerId}" id="buyerId"/><br/>
                                중고글id:  <input type="text" th:value="${chatInfo.usedBookId}" id="usedBookId"/><br/>
                                판매자(작성자):  <input type="text" th:value="${chatInfo.sellerId}" id="sellerId"/><br/> -->
                                <input type="hidden" th:value="${usedBook.chatRoomId}" id="chatRoomId"/>
                                <input type="hidden" th:value="${loginUser.nickName}" id="loginUser"/>           
                        </div>
                </div>  <!-- 채팅 상세 창 End -->
                
        </div> <!-- container End -->
    
    
    <th:block layout:fragment="script" th:inline="javascript">
    
    <!-- 내가 보낸 메세지 html, 상대가 보낸 메세지 html -->
    <script id="message-template" type="text/x-handlebars-template">
    <li class="p-0">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name">You</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
    </script>
    <script id="message-response-template" 
        type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{userName}}</span>
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
    </script>
    
    <script>
    
    </script>
    <!-- bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script th:src="@{ /js/chat.js }"></script>
    </th:block>

</body>
    
</html>