<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

<div layout:fragment="content">

<head>
    <meta charset="UTF-8">
    <title>Booque Market</title>
    
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />

    
    <style>
         #info li {
            list-style: none;
            padding-top: 32px;
            padding-bottom: 32px;   
            font-size: 18px;
            border-top: 1px solid silver;
         }
         
         ul {
            padding-left: 0;
         }
         
         ul li div {
            display: inline-block;
            vertical-align: top;
         }
         
         .contents {
            width: 168px;
         }
         
    </style>
    
</head>
<body>
    
    <div class="w-70 container">
    <h1>상품 등록 페이지</h1>
    
    
    
    <!-- 진행 순서 보여주기 -->
    <ul class="h5 list-group list-group-horizontal justify-content-center">
        <li class="list-group-item border-0" style="font-weight: bold;">01 책 검색</li>
        <li class="list-group-item border-0" style="color:gray;">></li>
        <li class="list-group-item border-0" style="color:gray">02 글 작성</li>
        <li class="list-group-item border-0" style="color:gray;">></li>
        <li class="list-group-item border-0" style="color:gray;">03 업로드</li>
    </ul>
    
    <h2>책 검색</h2>
    <div id="marketCreate">
        <input type="text" name="keyword" id="keywordM">
        <button type="button" id="btnSearchM" >검색</button>
    </div>
    <!-- 검색한 책을 테이블 형식 데이터 자스로 작성 -->
    <div id="bookList"></div>
    <!-- 책을 선택 했을 때 보여줄 데이터 자스로 작성 -->
    <div id="bookSelect"></div>
        
    <h2 style="padding-bottom: 10px;">기본정보<span style="font-size: 16px; color: red; margin-left: 30px">* 필수정보</span></h2>
    <form id="formCreate">
    <div id="usedId"></div>
    <ul id="info">
    
        <li>
        
            <h2>사진 첨부 부분</h2>
    
        
        
            <div class="contents">책 이미지<span style="color: red;">*</span><small style="font-size:14px; color: gray;">(0/5)</small></div>
                <input type="file" name="files" class="form-control" multiple />
                <button type="button" id="btnModalUpload" class="btn btn-primary">Upload</button>    
                <div id="uploadResults" class="container-fluid d-flex"style="flex-wrap: wrap;"></div>
                <div id="uploads"></div>       
            <div>                
                <ul id="explain">
                    <li style="border-top: none; padding: 0px; padding-bottom: 10px;">
                        <div class="border" style="width: 200px; height: 200px; text-align: center;">이미지 등록</div>
                    </li>
                </ul>
                

                <div id="explain" style="color: blue; font-size: 13px;">
                    * 이미지는 상품 등록 시 정사각형으로 잘려서 등록됩니다.<br>
                    * 첫 번째 업로드한 파일이 대표 이미지로 설정됩니다.<br>
                    * 큰 이미지일 경우 이미지가 깨지는 경우가 발생할 수 있습니다.
                </div>
            </div>
        </li>
        <li>
            <div class="contents" style="display: inline-block;">제목<span style="color: red;">*</span></div>
            <div><input class="form-control" id="title" name="title" type="text" placeholder="판매글 제목을 입력해주세요!" style="width: 1100px; height: 50px;"/></div>
        </li>
        <li>
            <div class="contents">거래지역<span style="color: red;">*</span></div>
            <div>
                <input type="text" name="location" class="form-control" id="sample3_address" style="width: 300px; height: 50px; display: inline-block;" placeholder="주소를 검색하세요!" readonly>
                <input type="button" onclick="sample3_execDaumPostcode()" style="display: inline-block; width:100px; height: 48px;" class="btn btn-outline-success" value="주 소 검 색">
                <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                </div>
            </div>
        </li>
        <li>
            <div class="contents">상태<span style="color: red;">*</span></div>
            <div>
                <label for="best" style="margin-right: 32px"><input checked="checked" name="level" id="best" type="radio" value="최상" style="padding: 10px;" /> 최상</label>
                <label for="good" style="margin-right: 32px"><input name="level" id="good" type="radio" value="상" style="padding: 10px;" /> 상</label>
                <label for="middle" style="margin-right: 32px"><input name="level" id="middle" type="radio" value="중" style="padding: 10px;" /> 중</label>
            </div>
        </li>
        <li>
            <div class="contents">가격<span style="color: red;">*</span></div>
            <div><input class="form-control" id="price" name="price" type="text" placeholder="숫자만 입력해주세요!" style="width: 300px; height: 50px; display: inline-block;"/> 원</div>
        </li>
        <li>
            <div class="contents">설명<span style="color: red;">*</span></div>
            <div><textarea rows="10" class="form-control" id="contents" name="contents" style="width:1100px;" placeholder="여러 장의 상품 사진과 사용감, 구입 연도 등 구매자에게 필요한 정보를 꼭 포함해주세요!"></textarea></div>
        </li>
    </ul>
    <input class="btn btn-danger" style="width: 200px; height:50px; margin: 5px; font-size: 18px;" type="button" id="btnSaveYet" value="임 시 저 장" />
    <input class="btn btn-success" style="width: 200px; height:50px; margin: 5px; font-size: 18px;" type="button" id="btnSubmit" value="등 록 하 기" />
    </form>
    
    </div> <!-- w-70 end -->
    
<!-- 부트스트랩 -->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
    
<!-- script 부분 -->


<script th:src="@{ /js/marketCreate.js }" ></script>

<!-- (하은) 판매글 등록시 주소 없으면 alert 창 뜨게 -->
<script>

const btnSaveYet = document.querySelector('#btnSaveYet');
btnSaveYet.addEventListener('click', function() {
	formCreate.action = '/market/storage';
	formCreate.method = 'post';
	formCreate.submit();
	alert('해당 글이 임시저장되었습니다!');
})

</script>


<!-- (하은) 주소 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function sample3_execDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {

                var addr = ''; // 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했어도 지번 주소를 출력
                    addr = data.jibunAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample3_address").value = addr;

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element_wrap.style.height = size.height+'px';
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
</script>    
    
</body>
</div>
</html>
