<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

<div layout:fragment="content">

<head>
    <meta charset="UTF-8">
    <title>Booque Market</title>
    
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />

	<style>
		#profile {
			margin-top: 25px;
			margin-bottom: 25px;
			padding-bottom: 25px;
			border-bottom: 1px solid silver;
		}
		
		#content {
			margin-top: 16px;
			margin-bottom: 16px;
		}
		
		#other {
			border-top: 1px solid silver;
			padding-top: 25px;
		}
		
		.otherList {
			margin-bottom: 25px;
			margin-right: 50px;
			display: inline-block;
		}
        
        a {
            text-decoration: none;
            color: black;
        }
        
        a:hover {
            color: black;
        }
		
	</style>
  
</head>
<body>
	
	<div class="w-70 container">
    
    <div class="w-75 container"> <!-- images -->
		<div id="carouselExampleDark" class="carousel carousel-dark slide">
		 	<div class="carousel-indicators">
		    	<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		    	<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
		    	<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
		    	<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
		    	<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
		  	</div>
		  	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
		    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Previous</span>
		  	</button>
			<div class="carousel-inner">
			   	<div class="carousel-item active">
			    	<div class="rounded mx-auto d-block w-50 border" style="height: 500px;">test1</div>
			      	<!-- <img src="..." class="d-block w-100" alt="..."> -->
				</div>
				<div class="carousel-item">
					<div class="rounded mx-auto d-block w-50 border" style="height:500px;">test2</div>
				    	<!-- <img src="..." class="d-block w-100" alt="..."> -->
				</div>
				<div class="carousel-item">
					<div class="rounded mx-auto d-block w-50 border" style="height:500px;">test3</div>
				    <!-- <img src="..." class="d-block w-100" alt="..."> -->
				</div>
				<div class="carousel-item">
					<div class="rounded mx-auto d-block w-50 border" style="height:500px;">test4</div>
				    <!-- <img src="..." class="d-block w-100" alt="..."> -->
				</div>
				<div class="carousel-item">
					<div class="rounded mx-auto d-block w-50 border" style="height:500px;">test5</div>
				    <!-- <img src="..." class="d-block w-100" alt="..."> -->
				</div>
		  	</div>
		  	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
		  	</button>
		</div>
    </div>
    
    <div id="profile"> <!-- profile -->
    	<a th:href="@{ /market/mypage(id=${ user.id }) }"><!-- 작성자 부끄마켓 개인 페이지로 이동 -->
            <img style="width:60px; height:60px; display:inline-block; margin-right: 10px;" th:src="${ user.userImage }">
        	<div class="align-middle" style="display: inline-block;">
    	    	<div style="font-weight: bold; font-size:21px;" th:text="${ user.nickName }"></div>
    	    	<div th:text="${ usedBook.location }" style="width: 300px;"></div>
        	</div>
            <span th:text="${ user.booqueLevel }"></span>
            <span th:text="${ user.booqueScore }"></span> point
        </a>
    	<div class="align-middle float-end" style="display: inline-block;" th:if="${ user.username } != ${ #authentication.name }">
	    	<button id="btnUsedBookWish" name="btnUsedBookWish" class="btn btn-danger" style="width:120px; height:40px;">찜 하 기</button>
	    	<button class="btn btn-success" style="width:120px; height:40px;">채 팅 하 기</button>
    	</div>
        <div class="align-middle float-end" style="display: inline-block;" th:unless="${ user.username } != ${ #authentication.name }">
            <button id="btnModify" class="btn btn-success" style="width:120px; height:40px;">수 정 하 기</button>
        </div>
    </div>
    
    <div> <!-- content -->        
        <div class="w-75 align-top" style="display: inline-block;"> <!-- content left -->
            <div th:if="${ user.username } == ${ #authentication.name }">
                <form id="formStatus">
                <input id="usedBookId" name="usedBookId" type="hidden" th:value="${ usedBook.id }" />
                <select id="status" name="status" class="form-select" style="width:120px; height: 40px; margin-bottom: 10px; display: inline-block;">
                    <option value="판매중">판매중</option>
                    <option value="예약중">예약중</option>
                    <option value="판매완료">판매완료</option>
                </select>
                </form>
                <button id="btnStatusModify" class="btn btn-outline-success" style="width:80px; height:40px; display: inline-block;">변 경</button>
            </div>
            <div th:unless="${ user.username } == ${ #authentication.name }">
                <select class="form-select" style="width:120px; height: 40px; margin-bottom: 10px;" disabled>
                    <option th:text="${ usedBook.status }" th:value="${ usedBook.status }"></option>
                </select>
            </div>
            
    	    <div class="h3" th:text="${ usedBook.title }"></div>
    	    <div class="h2" style="color: red;" th:text="|${#numbers.formatInteger(usedBook.price, 0, 'COMMA')}원|"></div>	
            <div>상품상태: <span th:text="${ usedBook.bookLevel }"></span></div>
    	    <small style="color: gray;" th:text="${ #temporals.format(usedBook.modifiedTime, 'yyyy/MM/dd HH:mm:ss') }"></small>
    	    <p id="content" th:text="${ usedBookPost.content }"></p>
        </div> <!-- content left end -->
        
        <div style="display: inline-block;"> <!-- content right -->
        <a th:href="@{ /detail(id=${ book.bookId }) }">
            <div class="card mx-2 my-2" style="width: 13rem;">    
                <img th:src="${ book.bookImage }"  class="card-img-top" alt="..." />
                <div class="card-body" style="text-align: left;">
                    <div class="my-2">
                        <small class="d-inline-flex px-2 border border-1 rounded text-secondary">
                            <span th:text="${ book.bookgroup }"></span><span> / </span><span th:text="${ book.category }"></span>
                        </small>
                    </div>
                    <div class="card-title" style="font-weight: bold; font-size: 15px;" th:text="${ book.bookName }"></div>
                    <div th:text="${ book.author }"></div>
                    <div>
                        <span th:text="|${#numbers.formatInteger(book.prices, 0, 'COMMA')}원|"></span>(정가)
                    </div>
                </div>
            </div>
        </a>
        </div> <!-- content right end -->
    </div> <!-- content end -->
    
    <div style="color:gray;">
    	<p>관심 <span>0</span> | 채팅 <span>0</span> | 조회 <span>0</span></p>
    </div>
    
    <div id="other"> <!-- 이 책의 다른 중고 상품은? -->
    	<h4><span>이 책</span>의 다른 중고 상품은?</h4>
    	<div class="otherList" th:each="usedBook : ${ otherUsedBookListFinal }"> <!-- 다른 상품 나열 부분 -->
    		<div> <!-- 상품목록 1개 -->
    		<a th:href="@{ /market/detail(usedBookId=${ usedBook.id }) }">
    			<div class="border" style="width:200px; height: 200px; margin-bottom: 5px;"></div>
    			<div th:text="${ usedBook.title }" style="font-size:17px;"></div>
    			<div th:text="|${#numbers.formatInteger(usedBook.price, 0, 'COMMA')}원|" style="font-weight: bold;"></div>
    			<span th:text="${ usedBook.bookLevel }" style="color:red; font-weight:bold;"></span>
                <small th:text="${ usedBook.location }" style="display: block;"></small>
    			<small style="color: gray; display: block;">관심 <span th:text="${ usedBook.wishCount }"></span> | 채팅 <span>0</span> | 조회 <span>0</span></small>
    		</a>
    		</div>
    	</div>
    </div>
    
	</div> <!-- w-70 end -->
	
    <!-- 부트스트랩 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    <!-- 자바스크립트 부분 -->
    <script> // (하은) detail -> modify 페이지 이동
    const btnModify = document.querySelector('#btnModify');
    const formStatus = document.querySelector('#formStatus');
    btnModify.addEventListener('click', function() {
    	formStatus.action = '/market/modify';
    	formStatus.method = 'get';
    	formStatus.submit();
    })
    	
    // (하은) 책 판매여부만 변경
    const btnStatusModify = document.querySelector('#btnStatusModify');
    
    btnStatusModify.addEventListener('click', function() {
    	formStatus.action = '/market/modifyStatus';
    	formStatus.method = 'post';
    	formStatus.submit();
    })
    </script>
    
    
</body>
</div>
</html>