<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

<div layout:fragment="content">

<head>
    <meta charset="UTF-8">
    <title>Booque Market</title>
    
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/fbc5a433d8.js" crossorigin="anonymous"></script>
    

    <style>
        #profile {
            margin-top: 25px;
            margin-bottom: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid silver;
        }
        
        #content {
            margin-top: 16px;
            margin-bottom: 16px;
        }
        
        #other {
            border-top: 1px solid silver;
            padding-top: 25px;
        }
        
        .otherList {
            margin-bottom: 25px;
            margin-right: 50px;
            display: inline-block;
        }
        
        a {
            text-decoration: none;
            color: black;
        }
        
        a:hover {
            color: black;
        }
        
        ul li {
            list-style: none;
            padding-top: 15px;
            padding-bottom: 15px;   
            font-size: 18px;
        }
        
        ul {
            padding-left: 0;
         }
        
        .contents {
            width: 168px;
            color: silver;
            font-size: 12px;
         }
        
    </style>
  
</head>
<body>
    
    <div class="w-70 container">
    
        <div  id="uploadResults" class="container-fluid d-flex" style="flex-wrap: wrap;">
<div th:each="imgList: ${ imgList }" class="card my-2">
    <div class="card-header d-flex justify-content-center">
        <button class="btnImgDelete btn-close" aria-label="Close" th:data-imgId="${ imgList.id }"
             th:data-fname="${ imgList.fileName }"></button>
    </div>
    <div class="card-body">
        <img alt="" th:src="${ '/market/api/view/'+ imgList.fileName }" style="width: 250px;">
    </div>
</div>
    </div>
    
    <h3 style="color: gray; margin-bottom: 30px;">[수정 페이지]</h3>


    
    <div id="profile"> <!-- profile -->
        <a th:href="@{ /market/mypage(id=${ user.id }) }"><!-- 작성자 부끄마켓 개인 페이지로 이동 -->
            <img style="width:80px; height:80px; display:inline-block; margin-right: 10px;" th:src="${ user.userImage }">
            <div class="align-middle" style="display: inline-block;">
                <div style="font-weight: bold; font-size:21px; display:inline-block" th:text="${ user.nickName + '(' + user.username + ')' }"></div>
                 <div style="font-size:15px; height: 21px; display:inline-block; padding: 1px; text-align: center; color:green; font-weight: bold;">
                    <i class="fa-solid fa-seedling"></i>
                    <small th:text="${ user.booqueLevel }" ></small>
                    <small th:text="${ user.booqueScore + 'P' }"></small>
                    <i class="fa-solid fa-seedling"></i>
                </div>
                <div th:text="${ usedBook.location }" style="width: 300px;"></div>
                <div class="align-middle" style="color:gray;">
                    <i class="bi bi-heart-fill" style="font-size:12px;"></i> 관심 <span id="wishCount" th:text="${ usedBook.wishCount }"></span> 
                    <i class="bi bi-person-circle" style="font-size:14px; margin-left:8px;"></i> 채팅 <span  th:text="${ usedBook.chats }"></span>
                    <i class="bi bi-eye" style="font-size:17px; margin-left:8px;"></i> 조회 <span th:text="${ usedBook.hits }"></span>
                </div>
            </div>
        </a>

    </div>
    
    <div> <!-- content -->        
        <div class="w-75 align-top" style="display: inline-block;"> <!-- content left -->
        <form id="formModify">
            
            <div class="contents">책 이미지<span style="color: red;">*</span><small style="font-size:14px; color: gray;">(<span id="imgNum">0</span>/5)</small></div>
            <div>
                <input type="file" name="files" class="form-control" multiple style="width:500px; display: inline-block;"/>
                <button type="button" id="btnModalUpload" class="btn btn-dark" style="height: 35px;">Upload</button>    
                <div id="uploadResults" class="container-fluid d-flex"style="flex-wrap: wrap;"></div>
                <div id="uploads"></div>       
            </div>
        
            <small style="color: gray;" th:text="${ '마지막 수정시간: ' + #temporals.format(usedBook.modifiedTime, 'yyyy/MM/dd HH:mm:ss') }"></small><br>
            
            <div class="contents" style="margin-top: 25px;">판매상태<span style="color: red;">*</span></div>
            <input type="hidden" name="bookTitle" th:value="${ book.bookName }">
            <input id="usedBookId" name="usedBookId" type="hidden" th:value="${ usedBook.id }" />
            <select onchange="changeStatus2()" id="selectStatus" name="selectStatus" class="form-select" style="width:120px; margin-bottom: 10px; display: inline-block;">
                <option value="판매중" th:selected="${ usedBook.status } == '판매중'">판매중</option>
                <option value="예약중" th:selected="${ usedBook.status } == '예약중'">예약중</option>
                <option value="판매완료" th:selected="${ usedBook.status } == '판매완료'">판매완료</option>
            </select>
            
            
            <ul>
                <li>
                    <div class="contents">거래지역<span style="color: red;">*</span></div>
                    <div>
                        <input class="form-control" style="width: auto; display: inline-block;"  name="originLocation" th:value="${ usedBook.location }" readonly>
                        <input type="text" name="location" class="form-control" id="sample3_address" style="width: 300px; display: inline-block;" placeholder="주소를 변경하시려면 검색하세요!" readonly>
                        <input type="button" onclick="sample3_execDaumPostcode()" class="btn btn-dark" style="display: inline-block; width:100px;"  value="주 소 검 색">
                        <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" 
                                style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contents" style="display: inline-block;">제목<span style="color: red;">*</span></div>
                    <div>
                        <input class="form-control" name="title" type="text" placeholder="판매글 제목을 입력해주세요!" th:value="${ usedBook.title }"
                            style="width: 900px;" required/>
                    </div>
                </li>
                <li>
                    <div class="contents">가격<span style="color: red;">*</span></div>
                    <div>
                        <input class="form-control" name="price" type="text" th:value="${usedBook.price}" placeholder="숫자만 입력해주세요!" style="width: 300px; display: inline-block;" required/> 원
                    </div>
                </li>
                <li>
                    <div class="contents">상태<span style="color: red;">*</span></div>
                    <div style="margin-top: 10px;">
                        <label for="best" style="margin-right: 32px"><input th:checked="${ usedBook.bookLevel } == 최상" name="level" id="best" type="radio" value="최상" style="padding: 10px;" /> 최상</label>
                        <label for="good" style="margin-right: 32px"><input th:checked="${ usedBook.bookLevel } == 상"  name="level" id="good" type="radio" value="상" style="padding: 10px;" /> 상</label>
                        <label for="middle" style="margin-right: 32px"><input th:checked="${ usedBook.bookLevel } == 중"  name="level" id="middle" type="radio" value="중" style="padding: 10px;" /> 중</label>
                    </div>
                </li>
                <li>
                    <div class="contents">설명<span style="color: red;">*</span></div>            
                    <div>
                        <textarea rows="10" class="form-control" name="contents" style="width:900px;" th:text="${ usedBookPost.content }" ></textarea>
                    </div>
                </li>
            </ul>
        </form>
        </div> <!-- content left end -->
        
        <div style="display: inline-block;"> <!-- content right -->
        <a th:href="@{ /detail(id=${ book.bookId }) }">
            <div class="card mx-2 my-2" style="width: 20rem;">    
                <img th:src="${ book.bookImage }"  class="card-img-top" alt="..." />
                <div class="card-body" style="text-align: left;">
                    <div class="my-2">
                        <small class="d-inline-flex px-2 border border-1 rounded text-secondary">
                            <span th:text="${ book.bookgroup }"></span><span> / </span><span th:text="${ book.category }"></span>
                        </small>
                    </div>
                    <div  class="card-title" style="font-weight: bold; font-size: 15px;" th:text="${ book.bookName }"></div>

                    <div th:text="${ book.author }"></div>
                    <div>
                        <span th:text="|${#numbers.formatInteger(book.prices, 0, 'COMMA')}원|"></span>(정가)
                    </div>
                </div>
            </div>
        </a>
        </div> <!-- content right end -->
    </div> <!-- content end -->
    
    
    <div style="margin-bottom: 30px;">
        <button class="btn btn-danger" id="btnModify" style="width: 200px; height:50px;">수 정 하 기</button>
    </div>
    
    </div> <!-- w-70 end -->
    
    <!-- 부트스트랩 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- 자바스크립트 부분 -->
    
    <!-- (하은) 주소 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{ /js/imgCreate2.js }"></script>
<script>


    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function sample3_execDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {

                var addr = ''; // 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했어도 지번 주소를 출력
                    addr = data.jibunAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample3_address").value = addr;

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element_wrap.style.height = size.height+'px';
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
</script> 
    
    
    
    
    
    <script type="text/javascript">
    document.querySelectorAll('.btnImgDelete').forEach(btn => {
        console.log('보이니?')
        btn.addEventListener('click',removeFileFromServer);
    });
    
    function removeFileFromServer(event){
        event.preventDefault();
        
        const btn = event.target;
        const fileName = btn.getAttribute('data-fname');      
        const imgId = btn.getAttribute('data-imgId')
        
        axios.delete('/market/api/view/'+fileName)
            .then(btn.closest('.card').remove())
        console.log(imgId)
        
        axios.delete('/market/api/deleteImg/'+imgId)
        

        
        
    }
    
    

    function changeStatus2() {
        
        const status = document.querySelector('#selectStatus').value;
        const usedBookId = document.querySelector('#usedBookId').value;

        const statusDto = {
        	status : status,
        	usedBookId : usedBookId
        }
        axios.post('/market/changeStatus', statusDto)
             .then(response =>{
            	 console.log(response)
             })
        
    }
    
    
    </script>
    
    
</body>
</div>
</html>