<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

<div layout:fragment="content">

<head>
    <meta charset="UTF-8">
    <title>Market Mypage</title>
    
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
  	<style>
  		a {
  			text-decoration: none;
  			color: black;
  		}
  		
  		a:hover {
  			color: black;
  		}
  		
  		table {
  			margin-left: 20%;
  		}
  		
  		.title {
  			border-style: solid;
  			border-left: 1px;
  			border-right: 1px;
  			border-color: pink;
  			margin-top: 3em;
  			margin-bottom: 2em;
  		}
  		
  		.container {
  			width: 1400px;
  		}
  		
  		.blank {
  			margin: 3em;
  		}
  	</style>
</head>
<body>

		<div class="w-70 container">
			<table border="0" width="50%" height="120" cellspacing="5" >

				<tbody>
					<tr align="center" bgcolor="white">
						<th rowspan="4" style="vertical-align: top; width: 120"><img
							src="/images/1.png" height="150" width="150"></th>
						<td style="text-align: left; font-size: x-large;"><p>[[${userNickName}]]님의
								MyPage!</p></td>
					</tr>
					<tr align="center" bgcolor="white">
						<td style="vertical-align: top; text-align: left;">리뷰 <span th:text="${ postCount }"></span>개</td>
					</tr>
					<tr>
						<td style="vertical-align: top; text-align: left;">판매중 <span th:text="${ usedBookSellingCount }"></span>개</td>
					</tr>
					<tr>
						<td style="vertical-align: top; text-align: left;">판매완료 <span th:text="${ usedBookSoldoutCount }"></span>개</td>
					</tr>
				</tbody>
			</table>
			<!-- w-70 end -->
			<div class = "form-group title">
				<b class = "form-control" style="font-size: xx-large; font-style: inherit; border: none; text-align: center;">판매중인 상품</b>
			</div>

			<div th:each="marketCreateDto : ${ list }"
				style="width: 350px; margin: 20px; display: inline-block;">
				<!-- content 1개 -->
				<a
					th:href="@{ /market/detail?usedBookId={usedBookId} (usedBookId = ${ marketCreateDto.usedBookId }) }"
					th:myname="${ marketCreateDto.usedBookId }"
					onclick="usedBookHits(this.getAttribute('myname'))">
					<div id="img" class="border"
						style="height: 350px; width: 350px; margin-bottom: 10px; background-color: silver;">
						<img alt=""
							th:src="${ '/market/api/view/'+marketCreateDto.imgUsed }"
							style="height: 350px; width: 350px; margin-bottom: 10px;">
					</div>

					<div class="text-truncate" th:text="${ marketCreateDto.title }"
						style="font-weight: bold; font-size: 20px;"></div>
					<div
						th:text="|${#numbers.formatInteger(marketCreateDto.price, 0, 'COMMA')}원|"
						style="font-weight: bold; font-size: 25px; color: red;"></div>
					<div th:text="${ marketCreateDto.location }"
						style="display: inline-block;"></div> <!-- (예진) 닉네임+유저이미지 -->
					<div>
						<img class="rounded-circle" width="40" height="40"
							th:src="${ marketCreateDto.userImage }" /><span
							th:text="${ '&nbsp;&nbsp;'+marketCreateDto.nickName }"></span>
					</div> <span th:text="${ '<' + marketCreateDto.bookTitle + '>'}"></span>
					<div style="color: gray;">
						업로드(수정) <small style="color: gray;"
							th:text="${ #temporals.format(marketCreateDto.modifiedTime, 'yyyy/MM/dd HH:mm') }"></small>
					</div>
					<div class="align-middle" style="color: gray;">
						<i class="bi bi-heart-fill" style="font-size: 12px;"></i> 관심 <span
							id="wishCount" th:text="${ marketCreateDto.wishCount }"></span> <i
							class="bi bi-eye" style="font-size: 17px; margin-left: 8px;"></i>
						조회 <span th:text="${ marketCreateDto.hits }"></span>
					</div>
				</a>
			</div>
			<div class="blank"></div>
			<div class = "form-group title">
				<b class = "form-control" style="font-size: xx-large; font-style: inherit; border: none; text-align: center;">판매중인 상품</b>
			</div>
			

		</div>
		<!-- w-70 end -->



		<!-- 부트스트랩 -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
        </script>

</body>
</div>
</html>